*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #bbbbd6, #113074);
}

.container {
  display: flex;
}

#game-frame,
.others {
  color: white;
  background-color: black;
  border: 1px solid #ccc;
}

label[for="#game-score"] {
  display: block;
  margin-bottom: 30px;
}

.others {
  margin-left: 10px;
  padding: 10px;
  min-width: 200px;
}

.game-state {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  user-select: none;
  color: white;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 0px 5px 25px black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game-state.paused {
  opacity: 1;
  top: 50%;
  left: 0%;
  right: 0%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.game-state.paused.no-blink {
  animation: none;
}

.container .cell {
  height: 20px;
  width: 20px;
  overflow: hidden;
  margin-bottom: calc(var(--border) * -1px);
  margin-left: calc(var(--border) * -1px);
  box-shadow: 0 0 0 calc(var(--border) * 1px) #ccc inset;
}

.tetris-cell {
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.5) inset !important;
}

@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}
